
.Container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    font-weight: bolder;
}


.Middle2{
  height: auto;
  border-radius: 29px;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 12px #165EE824;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
}


.Middle2 div{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.team{
  margin-left: 35px;
  margin-top: 25px;
}

#team1{
    display: inline-block;
    font-size: 21px;
    font-family: 'Work Sans', sans-serif;
    font-size: 400;
    color: #091188;
}

#team2{
    display: inline-block;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    color: #AEAEAE;
}

@media (max-width:805px){
  
.Middle2{
  height: auto;
  border-radius: 29px;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 12px #165EE824;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  justify-content: center;
}


.Middle2 div{margin-top: 20px;
  margin-bottom: 20px;
}

}